<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Schnitzeljagd</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/questionstyle.css}" />
    <script type="text/javascript" th:src="@{/scripts/questionScript.js}"></script>


    </script>
</head>
<body>
<h1 id="question_number">Aufgabe [[${number}]]</h1>


<p>[[${question}]]</p>

<label for="antwort">Antwort:</label>
<input type="text" id="antwort" name="antwort" required>
<label for="code">Code:</label>
<input type="text" id="code" name="code" required>
<button type="button" onclick="sendAnswer()">Antwort senden</button>
<br>
<button type="button" onclick="getHint()"> Tipp anfordern</button>

<p id="hint_label">Tipp...</p>
<p id="answer_correct"></p>
</body>
</html>