<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schnitzeljagd – Rangliste</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/rankingstyle.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/questionstyle.css}" />
</head>
<body>
<h1>Rangliste Schnitzeljagd</h1>
<p>Hier finden Sie die bestplatzierten Teilnehmer*innen der Schnitzeljagd:</p>
<table>
    <thead>
    <tr>
        <th>Rang</th>
        <th>Vorname</th>
        <th>Name</th>
        <th>Zeit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user, rowStat : ${ranking}">
        <td th:text="${rowStat.count}"></td>
        <td th:text="${user.vorname}"></td>
        <td th:text="${user.nachname}"></td>
        <td th:text="${user.getDurationAsFormattedString()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>