<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schnitzeljagd</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/questionstyle.css}" />
    <script type="text/javascript" th:src="@{/scripts/checkInScripts.js}"></script>
</head>
<body>
<h1>Willkommen zur Schnitzeljagd, [[${vorname}]]!</h1>

<p>Hier folgt die Spielbeschreibung</p>

<p>Was du dir am besten gleich notierst, ist dein persönlicher Identifikationscode! Ihn brauchst du immer wieder zum
Einreichen der Lösungen.</p>
<br>
<div id="postit-container">
<div id="postit">
    <p id="code">[[${code}]]</p>
</div>
</div>
<br>
<p>Um die Schnitzeljagd zu starten, klicke auf den Button. Damit wird auch die Zeitmessung gestartet.</p>

<input id="startButton", type="button" value="Schnitzeljagd starten">

</body>
</html>